In [51]:
# import libraries
import numpy as np
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.impute import SimpleImputer
from sklearn.pipeline import make_pipeline
from sklearn.tree import DecisionTreeRegressor
from sklearn.tree import export_graphviz

In [64]:
df = pd.read_csv('/home/andronik/uk-data-dash-app/data/uk_data_v7.csv')

In [65]:
df.head()

,Year,Population_of_England_millions,Total_Arable_and_Sown_Acreage,Wheat_Bushels_per_Acre,Rye_Bushels_per_Acre,Barley_Bushels_per_Acre,Oats_Bushels_per_Acre,Pulses_Bushels_per_Acre,Wheat_Million_Bushels,Rye_Million_Bushels,...,Net_Emigration_England_000s,Sacks_of_Wool_Thousands,Total_doth_equivalent,Decline_in_export_volume,English_export_volumes,Consumer_price_inflation,Filtered_Log_of_Real_GDP_Hodrick_Prescott,Average_Weekly_Earning_UK,Average_Weekly_Work_Hours,Trade_Volumes_in_UK
0,1270,4.364903,12.521372,7.453349,9.200467,11.438873,11.191148,1.828758,16.442739,7.110387,...,NaN,NaN,NaN,NaN,NaN,-2.09,-1.08,0.029,45.04,NaN
1,1271,4.371751,12.525191,6.728061,11.504579,13.016335,10.514148,1.578589,14.903160,8.864022,...,NaN,NaN,NaN,NaN,NaN,26.09,-1.90,0.030,45.01,NaN
2,1272,4.378609,12.529016,9.779587,11.533904,12.211065,9.009052,0.678903,21.750552,8.859456,...,NaN,NaN,NaN,NaN,NaN,5.06,2.02,0.025,44.99,NaN
3,1273,4.385478,12.532846,6.895819,6.192996,11.499594,10.095821,1.068811,15.399003,4.742375,...,NaN,NaN,NaN,NaN,NaN,-17.02,-3.55,0.029,44.96,NaN
4,1274,4.392357,12.536683,6.325744,9.845428,10.483730,10.042227,3.888762,14.183093,7.516020,...,NaN,NaN,NaN,NaN,NaN,13.59,-3.59,0.030,44.93,NaN

In [66]:
# Split train into train & test
train, val = train_test_split(df, train_size=0.80, test_size=0.20, random_state=42)

# Split train into train & val
train, test = train_test_split(train, train_size=0.80, test_size=0.20, random_state=42)

In [67]:
# shape of train, val and test
train.shape, val.shape, test.shape

((384, 87), (121, 87), (96, 87))

In [68]:
# target and features
X = df[['Year', 'Annual_inflation_rate']]
y = df[['Real_consumption_earnings_Growth_GB']]

In [69]:
# X and y shape
X.shape, y.shape

((601, 2), (601, 1))

In [70]:
# pipeline
pipeline = make_pipeline(
    SimpleImputer(missing_values=np.nan , strategy='median'),
    DecisionTreeRegressor(max_depth=8)
)

# pipeline fit and validtion score
pipeline.fit(X, y)
print('Validation Accuracy', pipeline.score(X, y))

Validation Accuracy 0.8888575718952249

In [71]:
from joblib import dump
dump(pipeline, 'pipeline.joblib', compress=True)

['pipeline.joblib']